<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Filter news</h2>
    </div>

    <div class="form-group">
      <label for="name">Filter by date:</label>
      <input type="date" class="form-control" id="date" [(ngModel)]="dateFilter" name="date">
    </div>

    <div class="form-group">
      <label for="name">Filter by category: </label>
      <input type="text" class="form-control" id="category" [(ngModel)]="categoryFilter" name="category">
    </div>

    <button class="btn btn-danger" (click)="filter(dateFilter, categoryFilter)" formtarget="_blank">Filter</button>

    <br><br>

    <p *ngIf="prevDateFilter || prevCategoryFilter">
      Previously used filters:
      <br><span *ngIf="prevDateFilter">Date: {{ prevDateFilter }}</span>
      <br><span *ngIf="prevCategoryFilter">Category: {{ prevCategoryFilter }}</span>
    </p>


    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Text</th>
            <th>Title</th>
            <th>Producer</th>
            <th>Date</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let news of allNews">
            <td>{{news.text}}</td>
            <td>{{news.title}}</td>
            <td>{{news.producer}}</td>
            <td>{{news.date}}</td>
            <td>{{news.category}}</td>
            <td>
              <button (click)="updateNews(news.id)" class="btn btn-warning" style="margin-left: 10px">Update</button>
            </td>   
          </tr>
        </tbody>
      </table>
    </div>
  </div>
